<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->
  <!--
  <system.webServer>
    <handlers>
      <remove name="aspNetCore"/>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
    </handlers>
    <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
  </system.webServer>
  -->
  <connectionStrings>
    <remove name="ConnectionString" />
    <add name="DNDConnectionString" connectionString="jbh1EruXiQTl/ZKNjwU14xDZXbFQ45G6T4dJEK/N+wiw3awzMgpM/QPT+EtqBYeRHlAiOxxNl6bNlHEVr9aFsEI9EbVwogswEsv5f7QjYAoAzKG8z1y+s1IH9uljKR6uQvOXlIPXrdTpKfZC8/j8eaZ51e7JJIzUhWPPH46K9TU6dCXTHaLnC0crcILgcKuA" providerName="System.Data.SqlClient" />
    <add name="ConnectionString" connectionString="xov2FABo016thnGH4skmoTosfG3cnZvXOVJVKDHTKqIOYFMAiJ/AeqOhYw3Q8p6puiWpttirAVNHsWXH5Py6gRfy7NabxbJ3v/Dy7/TDb7YWwae3JNxr6L+bhvoguJqzas/0yF1WyQidbQvTWLtiroeKfqNIJ9X/DYqFTHESJwXqJ/Jtpf3IgR/VwOBqjDDCkU6jCG3Lli3fExiesBdlTGTsGbhof8mCdRQ086278TnEfCk0dn8rXWztRa+frTV8" providerName="System.Data.SqlClient" />
    <add name="ReportsConnectionString" connectionString="xov2FABo016thnGH4skmoTosfG3cnZvXOVJVKDHTKqIOYFMAiJ/AeqOhYw3Q8p6puiWpttirAVNHsWXH5Py6gRfy7NabxbJ3v/Dy7/TDb7bIFVVUjOISEEjIWLejDS4OZCKigEZ0KeL6K5uFtB7WNsdBaTlfiLgVaxEYkm+yLCS8gQtZog7UMWm2nkj2zNjk" providerName="System.Data.SqlClient" />
    <add name="ExternalDBConnectionString" connectionString="xov2FABo016thnGH4skmoREi4lCpTD5RzxPFgDojNAszPGHC6KckdX6k/BZUru7EH64E6hGkLInk75VH1qubJeclfZxo95tJpcZZ2vyxpWdBhgmQ7ock+h6sHkzFXEyY/qhCR2F4mISFkIBHFcyBGunO3LVvS38ZKH7V3qAJTQ9HhNwRKlUcoGhhbBtgAKxD" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="DNDNotificationURL" value="http://192.168.0.168:8088"/>
    <add key="DNDNotification" value="store/api/all"/>
    <add key="accsToken" value="ABCDEFGHIJKLMNOPQRSTUVWXYZ0987654321"/>
    <add key="ADOProvider" value="SqlServer" />
    <add key="AppInternal" value="Gr3@tW@t3rS@lt@1B2c3D4e5F6g7H8" />
    <add key="elmah.mvc.disableHandler" value="false" />
    <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
    <add key="elmah.mvc.requiresAuthentication" value="false" />
    <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
    <add key="elmah.mvc.allowedRoles" value="*" />
    <add key="elmah.mvc.allowedUsers" value="*" />
    <add key="elmah.mvc.route" value="elmah" />
    <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />
    <add key="OracleClientCon" value="Data Source = (DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST=$strservername$)(PORT=$strport$))(CONNECT_DATA=($SERVICE_NAME$=$strdbname$)));user id=$strusername$;password=$strpassword$;"/>
    <add key="CampaintPath" value="C:\Synapse4P0\DocumentTemp\"/>
    <!--<DeploymentArea:  Push the alert related information/>-->
    <add key="AlertNotificationURL" value="http://88.99.717.73:8088/service" />
    <add key="ACTMQ_CONN" value="tcp://192.168.0.98:61616"/>
    <add key="QUEUE_ALERTS" value="QT_CMPMGR_NOTIFY"/>
    <add key="QUEUE_PERSISTENT" value="Y"/>

    <!--<add key="OTPMessage" value="Dear {#var1#}, your OTP for login is {#var2#}. Thank you for contacting Vectramind."/>-->
    <add key ="QRecuressiveCount" value="3"/>
    <add key="ToMailQ" value="dvsrmurthy@vectramind.com"/>
    <add key="FromMailQ" value="dvsrmurthy@vectramind.com"/>
    <add key="PassMailQ" value="mIL9M27yljoC12ieQ2chuQ=="/>
    <add key ="SubjectQ" value="Campaign/QuickSMS Alert Failed"/>
    <add key="bodyQ" value="Trigger failed for Campaign/Quick SMS: "/>
    <add key="smtpHost" value="smtp.office365.com"/>
    <add key="smtpPort" value="587"/>

    <!--Triggers related configurations start-->
    <add key="SMPP_PORT" value="2775" />
    <add key="SMPP_MAX_CONN" value="20" />
    <add key="TOPIC_NAME" value="HotChanges" />
    <!--Need to check with backend for this QName-->
    <add key="BROKER" value="tcp://192.168.0.98:61616" />

    <!--Active MQ Connection-->
    <add key="FILE_PATH" value="C:\Synapse4P0\DocumentTemp\xml_cache" />
    <!--Need to change According to hostpath-->
    <add key ="NotificationOne" value="RefreshConfiguration/"/>
    <add key ="NotificationTwo" value="RefreshConfigurationws/"/>
    <!--Triggers related configurations end-->
    <add key="IndianSynapse" value="false"/>

    <add key="CountryCode" value="91"/>

    <add key="CountryMobileLength" value="10"/>
    <!--<add key="OTPExpireMins" value="3"/>-->
  </appSettings>

</configuration>